---
import "../css/main.css";
import Navbar from "../components/navbar.astro";
import Header from "../components/header.astro";
import About from "../components/about.astro";
import Education from "../components/education.astro";
import Work from "../components/work.astro";
import Programs from "../components/programs.astro";
import Project from "../components/proyect.astro";
import Contact from "../components/contact.astro";
import Footer from "../components/footer.astro";
const lang = "es";
---

<html lang="es" id="html-root">
   <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="Logo.png" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap" rel="stylesheet" />
      <title>Gabriel Vargas</title>
   </head>
   <body>
      <div id="content-es">
         <Navbar lang="es" />
         <Header lang="es" />
         <About lang="es" />
         <Work lang="es" />
         <Education lang="es" />
         <Programs lang="es" />
         <Project lang="es" />
         <Contact lang="es" />
         <Footer lang="es" />
      </div>
      <div id="content-en" style="display: none;">
         <Navbar lang="en" />
         <Header lang="en" />
         <About lang="en" />
         <Work lang="en" />
         <Education lang="en" />
         <Programs lang="en" />
         <Project lang="en" />
         <Contact lang="en" />
         <Footer lang="en" />
      </div>

      <script>
         function switchLanguage() {
            const urlParams = new URLSearchParams(window.location.search);
            const lang = urlParams.get("lang") || "es";

            const esContent = document.getElementById("content-es");
            const enContent = document.getElementById("content-en");
            const htmlRoot = document.getElementById("html-root");

            if (!esContent || !enContent || !htmlRoot) return;

            if (lang === "en") {
               esContent.style.display = "none";
               enContent.style.display = "block";
               htmlRoot.setAttribute("lang", "en");
            } else {
               esContent.style.display = "block";
               enContent.style.display = "none";
               htmlRoot.setAttribute("lang", "es");
            }
         }

         document.addEventListener("DOMContentLoaded", switchLanguage);

         window.addEventListener("popstate", switchLanguage);

         let currentUrl = window.location.href;
         setInterval(() => {
            if (window.location.href !== currentUrl) {
               currentUrl = window.location.href;
               switchLanguage();
            }
         }, 100);
      </script>
   </body>
</html>
