---
import experienceData from '../data/work.json';
---

<section id="experience" class="min-h-screen bg-black py-16">
    <div class="container mx-auto px-4">
        <div class="text-center mb-24">
            <h2 class="text-4xl lg:text-5xl font-light text-white mb-6">
                Experiencia Laboral
            </h2>
            <div class="w-24 h-1 bg-white mx-auto"></div>
        </div>
    </div>
</section>